<div class="unaffected-component fixed bottom-0 bg-green-700 w-full">
  <div class="flex justify-center" style="gap: 10px;">
    <h1 class="text-white" style="font-size: 24px; padding: 3px 0 0 30px; font-weight: 700;">ফন্ট</h1>
    <button
    (click)="increaseFont()"
    style="font-size: 35px; padding: 20px; line-height: 0px; font-weight: 700;"
    class="bg-transparent text-white"
  >
    +
  </button>
    <button
    (click)="decreaseFont()"
    style="font-size: 35px; padding: 15px 20px !important; line-height: 0px; font-weight: 700;"
    class="bg-transparent text-white"
  >
    -
  </button>
  </div>
</div>
