<div class="w-full h-full pb-10 bg-gradient-to-l from-green-500 to-green-700">
  <div class="flex justify-between items-center mx-2">
    <h1
      class="text-2xl md:text-4xl lg:text-7xl text-white text-center font-bold py-5"
    >
    মনজিল
    </h1>
    <app-custom-button link="/amol" [isBack]="true"></app-custom-button>
  </div>
    <div class="flex justify-end max-w-7xl mx-auto">
      <!-- feature Inputs -->
      <div class="px-2 hidden">
        <label class="radio border-none text-white">
          <input
            type="radio"
            [checked]="selectedArabic === true"
            (click)="toggleArabic()"
          />
          উচ্চারণ
        </label>
      </div>
      <div class="px-2 hidden">
        <label class="radio border-none text-white">
          <input
            type="radio"
            [checked]="selectedBangla === true"
            (click)="toggleBangla()"
          />
          অর্থ
        </label>
      </div>
      <div class="px-2">
        <label class="radio border-none text-white">
          <input
            type="radio"
            [checked]="selectedDescribe === true"
            (click)="toggleDescribe()"
          />
          অডিও
        </label>
      </div>
    </div>
    <div class="max-w-7xl mx-auto">
      @for (data of arabicLanguage; track $index;) {
      <app-arabic-card
        [index] = "$index"
        [data]="data"
        [isPlay]="isPlay[$index]"
        [selectedArabic]="selectedArabic"
        [selectedBangla]="selectedBangla"
        [selectedDescribe]="selectedDescribe"
        [isExpanded]="expandedIndex === $index"
        (expand)="handleExpand($index)"
      ></app-arabic-card>
      }
    </div>
  </div>
  
