<div class="grid grid-cols-1 gap-4 px-6 py-3">
  <div class="flex justify-between">
      <h1 class="text-2xl font-bold text-green-800">যাকাত</h1>
      <app-custom-button link="/" [isBack]="true"></app-custom-button>
  </div>
    <app-custom-button title="স্বর্ণ ও রুপার দাম" link="/gold-price"></app-custom-button>
    <app-custom-button title="যাকাত ক্যালকুলেটর" link="/zakat-calculator"></app-custom-button>
    <app-custom-button title="যাকাত মাসআলা" link="/zakat-masala"></app-custom-button>
  </div>
