<div class="grid grid-cols-1 gap-4 px-6 py-3">
    <div class="flex justify-between">
        <h1 class="text-2xl font-bold text-green-800">বয়ান</h1>
        <app-custom-button link="/" [isBack]="true"></app-custom-button>
    </div>
    <app-custom-button title="কুরআনের তাফসীর" link="/audio/1" [isSmall]="true"></app-custom-button>
    <app-custom-button title="সংক্ষিপ্ত নসিয়ত" link="/audio/2" [isSmall]="true"></app-custom-button>
    <app-custom-button title="ইসলাহী মজলিশ" link="/audio/3" [isSmall]="true"></app-custom-button>
    <app-custom-button title="ইউটিউব অডিও" link="/audio/4" [isSmall]="true"></app-custom-button>
    <app-custom-button title="ইউটিউব ভিডিও" link="/video" [isSmall]="true"></app-custom-button>
</div>
